@using PhishingGame.Core.Models
@using Radzen
@using Radzen.Blazor

<RadzenTemplateForm TItem="Email" Data="@Value" Submit="@OnSubmit" InvalidSubmit="@OnInvalidSubmit">

    <div class="p-4 rounded-lg shadow-md" style="max-width:600px;">

        <div class="mb-3">
            <label class="font-semibold">Afzender</label>
            <RadzenTextBox @bind-Value="Value.Sender" Style="width:100%;" Name="Sender" ReadOnly=@ReadOnly/>
            <RadzenRequiredValidator Component="Sender" Text="Afzender is verplicht." />
        </div>

        <div class="mb-3">
            <label class="font-semibold">Onderwerp</label>
            <RadzenTextBox @bind-Value="Value.Subject" Style="width:100%;" Name="Subject" ReadOnly=@ReadOnly/>
            <RadzenRequiredValidator Component="Subject" Text="Onderwerp is verplicht." />
        </div>

        <div class="mb-3">
            <label class="font-semibold">Bericht</label>
            <RadzenTextArea @bind-Value="Value.Message" Rows="8" Style="width:100%;" Name="Message" ReadOnly=@ReadOnly/>
            <RadzenRequiredValidator Component="Message" Text="Bericht is verplicht." />
        </div>

        <div class="mt-4">
            @if (!ReadOnly)
            {
                <RadzenButton Text="Opslaan"
                              ButtonStyle="ButtonStyle.Primary"
                              Icon="save"
                              Type="Submit"
                              Style="margin-right:10px;" />
            }

                          
            <RadzenButton Text="Terug"  
                          ButtonStyle="ButtonStyle.Light"
                          Icon="close"
                          Click="@OnCancel" />
        </div>

    </div>

</RadzenTemplateForm>

@code {
    [Parameter]
    public EventCallback<Email> OnSubmit { get; set; }

    [Parameter]
    public EventCallback<FormInvalidSubmitEventArgs> OnInvalidSubmit { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnCancel { get; set; }

    [Parameter]
    public Email Value { get; set; }

    [Parameter]
    public bool ReadOnly { get; set; } = false;
}
