@page "/email/{id:guid}"

@using PhishingGame.Core.Models
@using Radzen;
@using Radzen.Blazor
@using Microsoft.EntityFrameworkCore 

@inject NotificationService NotificationService
@inject PhishingGame.Data.PhishingDbContext Db
@inject DialogService DialogService
@inject NavigationManager NavigationManager

@if(email == null)
{
    <p>E-mail niet gevonden.</p>

} else {

<div style="padding:20px">

    <h4 style="color:#006699; border-bottom:2px solid #ccc; padding-bottom:5px;">@email.Sender</h4>
    <h3 style="margin-top:10px; color:#222;">@email.Subject</h3>

    <div style="margin-top:20px; white-space:pre-wrap;">
        @email.Message
     </div>

     <div>
        <RadzenCheckBox  @bind-Value="email.IsPhishing" TValue="bool" Change="OnPhishingChanged" />
        <label class="ml-2">Markeer als phishing e-mail</label>
     </div>

     <div style="margin-top:15px;">
            <RadzenButton Text="Sluiten"
                          Icon="close"
                          Style="margin-right:5px;"
                          Click="@ClosePage" />

     </div>
</div>
}


@code {
    [Parameter] public Email Email { get; set; } = default!;
    [Parameter] public Guid id { get; set; }
    private Email? email;

    async protected override Task OnInitializedAsync()
    {
        email = await Db.Emails.FirstOrDefaultAsync(e => e.Id == id);
    }

    async Task OnPhishingChanged(bool value)
    {
        Email.IsPhishing = (bool)value;
        Db.Emails.Update(Email);
        await Db.SaveChangesAsync();
        NotificationService.Notify(new NotificationMessage
        {
            Severity = NotificationSeverity.Success,
            Summary = "Succes",
            Detail = "E-mail is bijgewerkt.",
            Duration = 4000
        });
    }

    void ClosePage() => NavigationManager.NavigateTo("/emailoverview");

}
