@using Radzen.Blazor

<RadzenStack Style="height:100%"
             AlignItems="Radzen.AlignItems.Center"
             JustifyContent="Radzen.JustifyContent.Center">
    <h1>Wat is je naam?</h1>
    <RadzenTextBox @bind-Value="@Name" />
    <RadzenButton Click="Submit">Enter</RadzenButton>
</RadzenStack>

@code {
    [Parameter]
    public Action<string> OnSubmit { get; set; }

    string Name { get; set; } = "";

    void Submit()
    {
        OnSubmit?.Invoke(Name);
    }
}