@page "/training/{id:guid}"

@using PhishingGame.Core.Models
@using Radzen;
@using Radzen.Blazor
@using Microsoft.EntityFrameworkCore

@inject NotificationService NotificationService
@inject PhishingGame.Data.PhishingDbContext Db
@inject DialogService DialogService
@inject NavigationManager NavigationManager

@if (training == null)
{
    <p>training niet gevonden.</p>

}
else
{

    <div style="padding:20px">

        <h4 style="color:#006699; border-bottom:2px solid #ccc; padding-bottom:5px;">@training.Name</h4>
        <h3 style="margin-top:10px; color:#222;">E-mails in deze training:</h3>

        @if (training.Emails == null || !training.Emails.Any())
        {
            <p>Geen e-mails gekoppeld aan deze training.</p>
        }
        else
        {
            <ul class="list-group">
                @foreach (var mail in training.Emails)
                {
                    <li class="list-group-item" style="margin-bottom:6px;">

                        <strong>@mail.Sender</strong> — @mail.Subject

                        @if (mail.IsPhishing)
                        {
                            <RadzenIcon Icon="flag" Style="color:red;" />
                        }
                        else
                        {
                            <span style="color:green;"></span>
                        }
                    </li>
                }
            </ul>
        }
    

        <div style="margin-top:15px;">
            <RadzenButton Text="Sluiten"
                          Icon="close"
                          Style="margin-right:5px;"
                          Click="@ClosePage" />

        </div>
    </div>
}


@code {
    [Parameter] public Training Training { get; set; } = default!;
    [Parameter] public Guid id { get; set; }
    private Training? training;

    async protected override Task OnInitializedAsync()
    {
        training = await Db.Trainings.
        Include(t => t.Emails).
        FirstOrDefaultAsync(e => e.Id == id);
    }

   

    void ClosePage() => NavigationManager.NavigateTo("/trainingoverview");

}
