@using Radzen.Blazor
@inherits LayoutComponentBase

<div style="padding:15px; height: 100%">
    @Body
</div>

<RadzenDialog />
<RadzenNotification />
<RadzenComponents @rendermode="InteractiveAuto" />