@using PhishingGame.Core.Models
@using Radzen;
@using Radzen.Blazor

@inject NotificationService NotificationService

@inject PhishingGame.Data.PhishingDbContext Db
@inject DialogService DialogService

<div style="padding:20px">

    <h4 style="color:#006699; border-bottom:2px solid #ccc; padding-bottom:5px;">@Email.Sender</h4>
    <h3 style="margin-top:10px; color:#222;">@Email.Subject</h3>

    <div style="margin-top:20px; white-space:pre-wrap;">
        @Email.Message
     </div>

     <div>
        <RadzenCheckBox  @bind-Value="Email.IsPhishing" TValue="bool" Change="OnPhishingChanged" />
        <label class="ml-2">Markeer als phishing e-mail</label>
     </div>

     <div style="margin-top:15px;">
        <RadzenButton Text="Sluiten"
                      Icon="close"
                      Style="margin-right:5px;"
                      Click="@CloseDialog"></RadzenButton>
     </div>
</div>


@code {
    [Parameter] public Email Email { get; set; } = default!;
    async Task OnPhishingChanged(bool value)
    {
        Email.IsPhishing = (bool)value;
        Db.Emails.Update(Email);
        await Db.SaveChangesAsync();
        NotificationService.Notify(new NotificationMessage
        {
            Severity = NotificationSeverity.Success,
            Summary = "Succes",
            Detail = "E-mail is bijgewerkt.",
            Duration = 4000
        });
    }

    private void CloseDialog()
    {
        DialogService.Close();
    }
}
